- model_class = Order
.page-header
  %h1=t '.title', default: model_class.model_name.human.pluralize.titleize
%table.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name(:id)
      %th= model_class.human_attribute_name(:product)
      %th= model_class.human_attribute_name(:price)
      %th= 'Paid?'
      %th= model_class.human_attribute_name(:created_at)
      %th=t '.actions', default: t("helpers.actions")
  %tbody
    - orders.each do |order|
      %tr
        %td= order.id
        %td= link_to order.product, order_path(order)
        %td= number_to_currency(order.price, unit: "$")
        %td= human_boolean order.paid
        %td= order.created_at.strftime("%d/%m/%Y")
        %td
          %script{ src: "https://secure.ewaypayments.com/scripts/eCrypt.js", class: "eway-paynow-button", |
                   data: { publicapikey: EWAY_PAY_BUTTON_KEY, amount: order.price_in_cents}}

= link_to t('.new', default: t("helpers.links.new")), new_order_path, class: 'btn btn-primary'
